extends super

block content
    div.container
        h1= country_name
        p Every university that we have (or have had) an exchange program with in this country is listed here.

        table.table.table-striped.table-bordered.table-sm.sortable#uniTable
            thead.thead-dark
                tr
                    th University
            tbody
                each uni in unis
                        tr
                            td
                                a(href=`/${country}/${uni.norm_name}`)= uni.name
