extends super

block head
    // Load jquery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

    script.
        $(document).ready(function () {
            $("#uniSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#uniTable tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    console.log($(this).text());
                });
            });
        });

block content

    div.container
        h1 Exchange studies at Datatekniksektionen at LTH
        p Välkommna till resurssidan för utbyte på d-sek vid LTH. Här finner ni nyttiga länkar och godkända studieplaner som lär hjälpa er med er ansökan!

    div.container
        input.form-control#uniSearch(type="text" placeholder="Filter by country or university...")
        table.table.table-striped.table-bordered.table-sm.sortable#uniTable
            thead.thead-dark
                tr
                    th Country
                    th University
            tbody
                each country, c_key in data
                    tr
                        td
                            a(href=`/${c_key}`)= `${country.pretty}`
                        td
                            each uni, u_key in country.unis
                                a(href=`/${c_key}/${uni.name_norm}`)= uni.name
                                br


