extends super

block content

    .container
        .jumbotron
            .h1 Test for modal using bootstrap and Jade
        .container
            .row
                .col-md-12

    .container
        a(data-toggle="modal" href="#normalModal" class="btn btn-default") Normal


    #normalModal(class="modal fade")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    h4(class="modal-title") Title

                div(class="modal-body")
                    p text form etc. &hellip;
                        input(id= "x" type="radio", name="symbol" value="x" checked)
                        = " x"
                        input(id= "y" type="radio", name="symbol" value="o")
                        = " o"
                    div(class="modal-footer")
                    button(type="button" class="btn btn-default" data-dismiss="modal") Close
                    button(type="button" onclick="test()" class="btn btn-primary") Submit


                #test_area
                    #test_main

    //thanks to https://codepen.io/DawsonMediaD/pen/byDqv

