doctype html

html(lang="sv")
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")

        // Load CSS from Google Material
        link(rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous")

        // Load bootstrap css
        //link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")

        // Load bootstrap javascript
        //script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        //integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        //crossorigin="anonymous")

        // Load jquery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

        // Load fontawesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css")

        // Load material bootsrap js
        script(src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous")
        script.
            $(document).ready(function() { $('body').bootstrapMaterialDesign(); });

        // Define useful functions
        - let capFirstLetter = function(str) {return str[0].toUpperCase() + str.slice(1,str.length)};
        - let standardize = function(str) {return str.toLowerCase().replace(/\s+/g, "_");};

        block head

    body
        block content